<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/hibernate4?createDatabaseIfNotExist=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<!--<mapping resource="com\army\building\onetomany\two\cofiguration\OneToManyTwoConfig.hbm.xml"/> -->
		<!-- <mapping resource="com/army/building/manytoone/ManyToOne.hbm.xml"/> -->
		<!--<mapping resource="com/army/building/onetomany/two/cofiguration/OneToManyTwoConfig.hbm.xml"/>-->
		<!-- <mapping resource="com/army/building/selft/onetomany/two/configuration/SelfOneToManyTwoConfig.hbm.xml" /> -->
		<!-- <mapping resource="com\army\building\onetoone\single\share\foreign\singleAccount2User.hbm.xml"/>-->
		<!-- <mapping resource="com\army\building\onetoone\single\share\foreign\singleAccount2User1.hbm.xml"/> -->
		<!-- <mapping resource="com\army\building\manytomany\before\ManyToManyBefore.hbm.xml"/>-->
		<mapping resource="com\army\building\manytomany\after\ManyToManyAfter.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>